<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=!properties.title}"></sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories = 'clientlib-latestnews'}"></sly>
<sly data-sly-use.item="com.neom.enowa.aem.core.models.LatestNewsUpdatesModel"
     data-sly-test="${item.title}">
    <style>
        .news__section__card__content__ct2 a {
                color: inherit;
                text-decoration: none;
         }
    </style>
    <div data-sly-test="${properties.targetPageType}">
    <div class="news" data-news-section>
        <div class="news-container">
        <div class="news__header">
            <h2>${item.title}</h2>
            <div class="news__header__viewupdate">
                <div class="cta">
                    <div class="cta-primary-light-wrapper">
                        <div class="cta-primary-light-btn"><a class="cta-primary-light" href="${item.titleUrl}.html" title="View All Updates">View All Updates</a>
                        </div>
                        <div class="cta-primary-light-icon"><span class="icon-arrow-right-side"></span></div>
                    </div>
                </div>
            </div>
            <div class="news__header__mobileContent">
                <div class="cta">
                    <div class="cta-primary-light-wrapper">
                        <div class="cta-primary-light-btn"><a class="cta-primary-light" href="${item.titleUrl}.html" title="View All">View All</a>
                        </div>
                        <div class="cta-primary-light-icon"><span class="icon-arrow-right-side"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news__section">
            <sly data-sly-list.multi="${item.latestNewsItems}" >
                <div class="news__section__card">
                    <sly data-sly-test="${multi.assetType == 'video'}">
                        <sly data-sly-test="${multi.isVideoURL}">
                            <div class="news__section__card__image">
                                <iframe src="${multi.sourceVideo}" alt="${multi.altVideo}"frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
                            </div>
                        </sly>
                        <sly data-sly-test="${!multi.isVideoURL}">
                            <div class="news__section__card__image">
                                <video class="videoHover" controls alt="${multi.altVideo}" loop muted>
                                    <source src="${multi.sourceVideo}#t=1" type="video/mp4">
                                </video>
                                <span class="icon-button-video-play"></span>
                            </div>
                        </sly>
                    </sly>
                    <sly data-sly-test="${multi.assetType != 'video'}">
                        <div class="news__section__card__image">
                            <img src="${multi.sourceImg}" alt="${multi.altImg}">
                        </div>
                    </sly>
                    <div class="news__section__card__content">
                        <div class="news__section__card__content__ct1">
                            <span class="ct1-date">${'dd' @ format=multi.date}.${'MM' @ format=multi.date}</span>
                            <span class="ct1-year">${'YYY' @ format=multi.date}</span>
                        </div>
                        <div class="news__section__card__content__ct2">
                            <p class="news__section__card__content__ct2__para"><a href="${multi.link}.html">${multi.innerTitle}</a></p>
                            <p class="news__section__card__content__ct2__para1"><a href="${multi.link}.html">${multi.description}</a></p>
                        </div>
                    </div>
                </div>
            </sly>
        </div>
        <div class="news__navigation">
            <div class="carousel" data-sly-list.multi="${item.latestNewsItems}">
                <div data-sly-test="${item.lastIndexCount != multiList.index}" class="carousel-dot-news carousel-item-${multiList.index}" name="carousel-dots" onclick="moveToSlide(${multiList.index @ context='attribute'})">
                    <div class="svg-container"></div>
                </div>
            </div>
            <div class="carousel__dots">
                <svg width="810" height="8" viewBox="0 0 810 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="1.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="8.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="15.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="22.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="29.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="36.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="43.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="50.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="57.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="64.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="71.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="78.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="85.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="92.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="99.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="106.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="113.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="120.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="127.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="134.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="141.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="148.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="155.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="162.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="169.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="176.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="183.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="190.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="197.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="204.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="211.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="218.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="225.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="232.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="239.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="246.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="253.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="260.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="267.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="274.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="281.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="288.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="295.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="302.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="309.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="316.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="323.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="330.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="337.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="344.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="351.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="358.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="365.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="372.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="379.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="386.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="393.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="400.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="407.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="414.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="421.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="428.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="435.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="442.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="449.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="456.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="463.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="470.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="477.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="484.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="491.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="498.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="505.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="512.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="519.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="526.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="533.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="540.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="547.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="554.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="561.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="568.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="575.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="582.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="589.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="596.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="603.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="610.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="617.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="624.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="631.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="638.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="645.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="652.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="659.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="666.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="673.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="680.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="687.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="694.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="701.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="708.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="715.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="722.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="729.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="736.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="743.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="750.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="757.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="764.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="771.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="778.5" cy="4" r="1" fill="#8FD3D3"> </circle>
                    <circle cx="687.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="694.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="701.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="708.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="715.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="722.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="729.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="736.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="743.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="750.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="757.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="764.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="771.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="778.5" cy="4" r="1" fill="#8FD3D3"> </circle>
                    <circle cx="729.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="736.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="743.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="750.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="757.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="764.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="771.5" cy="4" r="1" fill="#8FD3D3"></circle>
                    <circle cx="778.5" cy="4" r="1" fill="#8FD3D3"> </circle>
                </svg>
            </div>
            <div class="arrow-icons">
                <div class="arrow-icons_container"><span class="left_arrow icon-arrow-left-side"></span><span class="right_arrow icon-arrow-right-side"></span></div>
            </div>
        </div>
      </div>
    </div>
    </div>
</sly>
